section {
  margin: 0 0 40px 0;
  background-color: #f7f7f7;

  header {
    @include flex();

    h2, .selection {
      margin: 0;
      padding: 10px;
    }

    h2 {
      @include flex-size(3);
      border: solid 1px red;
    }

    .selection {
      @include flex-size(1);
      border: solid 1px blue;
    }
  }

  .mix {
    // border: solid 1px red;
    display: inline-block;
    padding: 0 0 16px 22px;
    position: relative;

    .cover {
      img {
        border: 1px solid #fff;
        -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
        -moz-box-shadow: rgba(0,0,0,.3) 0 3px 5px;
        border-color: #a2a2a2\9;
        width: 150px;
      }
    }

    .index {
      font-size: 12px;
      position: absolute;
      top: 140px;
      left: 0px;

      color: #898989;
      display: block;
      width: 20px;
      text-align: right;
      font-size: 10px;
    }
  }
}
