/*@import url(http://fonts.googleapis.com/css?family=Lato:300);*/
body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.4;
/*  color: #999;*/
}
h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}
a {
  color: #bbb;
  outline: none;
/*  text-decoration: none;*/
}
a:hover {
  color: #999;
  text-decoration: none;
}
ul { padding: 0; }
li { list-style: none; }
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

body > header {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 99;
}
body > header a {
  color: inherit;
  padding: 10px;
  text-decoration: none;
  z-index: 99;
}
body > header h1 {
  float: left;
  font-size: 24px;
  margin: 0;
  padding: 5px;
  pointer-events: auto;
}
body > header h1 a img {
  vertical-align: bottom;
}
body > header nav {
  padding: 10px;
  float: right;
  pointer-events: auto;
}
body > header nav a {
  font-size: 14px;
  color: inherit;
}

body > header nav ul.subnav {
  display: none;
  background: white;
/*  border: solid 1px green;*/
  margin: 10px 0 0 0;
  position: absolute;
  z-index: 999;
}
body > header nav ul.subnav a {
  border-left: solid 3px white;
  display: block;
  padding: 5px 10px;
}
body > header nav ul.subnav a:hover {
  border-left: solid 3px rgba(0,0,0,0.2);
}

.flash-wrapper {
  width: 100%;
  height: 0px;
  left: 0;
  top: 0;
  text-align: center;
  position: fixed;
  z-index: 1001;
}
.flash {  
  color: black;
  background: #88B;
  border: dashed black 2px;
  padding: 10px;
  text-align: center;
  margin: 9px;
  padding: 8px 18px;
  font-size: 12px;
  display: inline-block;
}
div.page {
  margin: 40px 10px 10px 10px;
  min-height: 100%;
}

/*html, body { padding: 0px; margin: 0px; height: 100%; text-align: center; }*/
div.page { height: 100%; text-align: left; }
div.page h2.title{
  font-size: 20px;
  margin: 0 0 20px 0;
  text-align: center;
}

/* new summer mix */
form.new_mix {
  background: black;
  border: 2px dashed #88B;
  display: none;
  margin: 10px 0;
  padding: 10px;
}
form h3 {
  margin: 0;
}
form img {
  width: 50px;
}
.input_cont {
  margin: 0 0 10px 0;
}
.input_cont input {
  border: solid 2px skyblue;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  width: 98%;
}
input:focus {
    outline: none;
}
form.login {
  margin: auto;
  width: 400px;
}
form .actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}
form input[type='submit'] {
  background: skyblue;
  border: solid 2px skyblue;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
}
form a.nvrmind {
  background: black;
  border: solid 2px #88b;
  color: #88b;
  margin: 20px 0 0 20px;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
}
form a.nvrmind:hover {
  background: #88b;
  color: #000;
}

div.mixes {
  overflow: auto;
}
div.mix {
  float: left;
  font-size: 15px;
  height: 150px;
  margin: 0 20px 20px 0;
  position: relative;
  width: 150px;
}
div.mix div.edit {
  background: black;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 0;
  padding: 4px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
}
div.mix a.cover {
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px,rgba(0, 0, 0, 0.3) 0 2px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px,rgba(0, 0, 0, 0.3) 0 2px 5px;
  display: inline-block;
  margin: 0 0 10px;
  height: 150px;
  text-align: center;
  width: 150px;
}




.notify {
    padding: 8px 18px;
    font-size: 12px;
    text-align: center;
}
.notify.error {
  background-color: #fef1f1;
  border: 1px solid #e2a8a8;
  color: #D46D6D
}
.notify.warning {
  background-color:#FFFAE4;
  border:1px solid #F4CD33;
  color:#C39D02
}
.notify.success {
  background-color:#e8f7ed;
  border:1px solid #30b661;
  color:#1BA84E
}
.notify.info {
  border:1px solid #bdc4c9;
  color:#aaa
}