{% extends "layout.html" %}
{% if songs[0].palette[1] %}
{% set header_col = songs[0].palette[1] %}
{% endif %}


{% block head_title %}A Random MixXx of Summer TraxXx{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mix.css') }}">
  
  <!-- Meta -->        
  <meta name="keywords" content="Music, Mix Tape, Playlist, Soundtrack to your life, muxtape, html5 audio" />
  <meta name="description" content="{{ songs[0].desc }}" />
  <link rel="image_src" href="http://mixtur.audio{{url_for('uploaded_file', user=songs[0].user, mix=songs[0].mix_slug, filename=songs[0].cover) }}">

  <meta property="og:site_name" content="Mixtur" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="{{ songs[0].mix_name }}" />
  <meta property="og:type" content="music.playlist" />
  <meta property="og:url" content="{{ request.url }}" />
  <link rel="canonical" href="{{ request.url }}" />
  <meta property="og:image" content="http://mixtur.audio{{url_for('uploaded_file', user=songs[0].user, mix=songs[0].mix_slug, filename=songs[0].cover) }}" />
  <meta property="og:description" content="{{ songs[0].desc }}" />
  <meta name="author" content="{{ songs[0].user }}" />
  
  <style>
  .album-art{
    -webkit-box-flex: 0 0 50px;
    -moz-box-flex: 0 0 50px;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    margin: 5px 10px 0 0;
    position: relative;
  }
  .tracklisting {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  /* Narrow */
  @media only screen and (max-width: 480px) {
    .album {
      padding: 5px;
    }
    .album-art{
      margin: 5px 5px 0 0;
    }
    .tracks {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
  </style>
  
{% endblock %}

{% block body %}
<div class="anthology">  
  {% set disc = -1 %}
  {% set mix = None %}
  {% set prev_album_cover = None %}
  
  {% for s in songs %}
  
  {% if s.mix_slug != mix_slug and loop.first %}
  <div class="album" style="background:{{s.palette[0]}}" {% if s.palette[0] %}data-bg-col="{{s.palette[0]}}"{% endif %} {% if s.palette[1] %}data-hilite-col="{{s.palette[1]}}"{% endif %} {% if s.palette[2] %}data-hilite-col2="{{s.palette[2]}}"{% endif %}>
    
    <header class="nav" style="background:{{s.palette[0]}}">
      <div class="album-title">
        <h1 style="color:{{s.palette[1]}}">Summer 4 Ever <span><a href="#" class="fa fa-random" title="Shuffle songs"></a> {% if s.user == g.user %}<a href="{{ url_for('create_mix', mix_slug=songs[0].mix_slug) }}" title="Edit mix" class="fa fa-pencil update"></a> <a href="delete/" title="Delete mix" class="fa fa-trash-o delete"></a>{% endif %} <a href="{{ url_for('mix', mix_type='m', mix_slug=s.mix_slug) }}?download" title="Download mix" class="fa fa-download"></a></span></h1>
        <span {% if s.palette[2] %}style="color:{{s.palette[2]}}"{% else %}class="no-col"{% endif %}>{{ songs|length }} songs &bull; {% if total_runtime.hours %}{{ total_runtime.hours }} hours{% endif %} {% if total_runtime.minutes %}{{ total_runtime.minutes }} minutes{% endif %} {% if not total_runtime.hours and not total_runtime.minutes %}{{ total_runtime.seconds }} seconds{% endif %}</span>
      </div>
      <div class="album-controls" style="color:{{s.palette[1]}}">
        <i title="Play previous song" class="fa fa-step-backward fa-lg"></i><i title="Play" class="fa fa-play fa-lg"></i><i title="Pause" class="fa fa-pause fa-lg"></i><i title="Play next song" class="fa fa-step-forward fa-lg"></i>
      </div>
      <div class="progress">
        <div class="track-progress-bg" style="background:{{s.palette[1]}}; border-color: {{s.palette[1]}};"></div>
        <div class="track-progress-loaded" style="background:{{s.palette[1]}}; border-color: {{s.palette[1]}};"></div>
        <div {% if s.palette[2] %}class="track-progress" style="background:{{s.palette[2]}}"{% else %}class="track-progress no-col"{% endif %}></div>
        <div class="track-cursor" style="background:{{s.palette[0]}}"></div>
      </div>
    </header>
    
    <div class="tracks">
      <nav class="album-art">
        {% if s.desc %}
        <div class="album-desc">
          <h2>{{ s.desc }}</h2>
        </div>
        {% endif %}
        {% if s.cover %}
        <img src="{{url_for('uploaded_file', user=s.user, mix=s.mix_slug, filename=s.cover) }}" alt="cover image for {{s.mix_name}}" />
        {% else %}
        <img src='/static/img/no_cover.jpg' />
        {% endif %}
      </nav>
      <main class="tracklisting">
  {% elif s.mix_slug != mix_slug %}
                </ol>
              </div>
            </main>
          </div>
          <footer></footer>
        </div>
  <div class="album" style="background:{{s.palette[0]}}" {% if s.palette[0] %}data-bg-col="{{s.palette[0]}}"{% endif %} {% if s.palette[1] %}data-hilite-col="{{s.palette[1]}}"{% endif %} {% if s.palette[2] %}data-hilite-col2="{{s.palette[2]}}"{% endif %}>
    <div class="tracks">
      <nav class="album-art">
        {% if s.desc %}
        <div class="album-desc">
          <h2>{{ s.desc }}</h2>
        </div>
        {% endif %}
        {% if s.cover %}
        <img src="{{url_for('uploaded_file', user=s.user, mix=s.mix_slug, filename=s.cover) }}" alt="cover image for {{s.mix_name}}" />
        {% else %}
        <img src='/static/img/no_cover.jpg' />
        {% endif %}
      </nav>
      <main class="tracklisting">
  {% endif %}
        {% if (s.disc != disc and loop.first) or (s.disc != disc or s.mix_slug != mix_slug) %}
        <div class="disc">
          {% if s.disc %}<h3>Disc {{ s.disc }}</h3>{% endif %}
          <ol>
        {% elif s.disc != disc %}
          </ol>
        </div>
        <div class="disc">
          {% if s.disc %}<h3>Disc {{ s.disc }}</h3>{% endif %}
          <ol>
        {% endif %}
            <li class="track" title="{{ s.artist }} - {{ s.title }}" data-id="{{ s.song_id }}">
              <div class="track-info">
                <p {% if s.palette[2] %}class="track-num" style="color:{{s.palette[2]}}"{% else %}class="track-num no-col"{% endif %}><span>{{ s.position }}</span><i class="fa fa-volume-up"></i></p>
                <p class="track-title">
                  <span class="track-name" style="color:{{s.palette[1]}}">{{ s.title }}</span><br />
                  <span {% if s.palette[2] %}class="track-artist" style="color:{{s.palette[2]}}"{% else %}class="track-artist no-col"{% endif %}>{{ s.artist }}</span>
                  {% if s.listens %}
                  <span {% if s.palette[2] %}class="track-listens" style="border-color:{{s.palette[2]}}; color:{{s.palette[2]}}"{% else %}class="track-artist no-col"{% endif %}><i class="fa fa-volume-up" aria-hidden="true"></i> {{ s.listens }}</span>
                  {% endif %}
                  <br />
                  <audio preload="none" src="{{url_for('uploaded_file', user=s.user, mix=s.mix_slug, filename=s.song_slug) }}"></audio>
                </p>
                <p {% if s.palette[2] %}class="track-time" style="color:{{s.palette[2]}}"{% else %}class="track-time no-col"{% endif %}><span></span>{{ s.runtime|dateformat('%-M:%S') }}</p>
              </div>
            </li>
        {% set mix = s.mix_name %}
        {% set mix_slug = s.mix_slug %}
        {% set cover = s.cover %}
        {% set disc = s.disc %}
        
        {% if loop.last %}
                </ol>
              </div>
            </main>
          </div>
          <footer></footer>
        </div>
        {% endif %}
        
  {% endfor %}
</div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/d3.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/d3plus.min.js') }}"></script>
  <script>
  var mix_type = "m";
      palette = "{{ ','.join(songs[0].palette) }}".split(",");
  </script>
  <script src="{{ url_for('static', filename='js/mix.js') }}"></script>
{% endblock %}