{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}
<section id="mixes">
  <h1>Mixes</h1>
  <ul>
  {% for m in mixes %}
    <li {% if m.cover %}style="background: url('{{ url_for('uploaded_file', user=m.author, mix=m.slug, filename=m.thumb) }}')"{% endif %}>
      <a class="link-cover" href="{{ url_for('mix', mix_type='m', mix_slug=m.slug) }}"></a>
      <div class="content">
        <div class="post-meta">
          <h1><a href="{{ url_for('mix', mix_type='m', mix_slug=m.slug) }}">{{ m.title|truncate(45) }}</a></h1>
          <h2 style="z-index: 1;">{{ m.songs }} songs, {{ m.runtime }}</h2>
          <div class="author-meta">
            <b>By</b> <a class="author-name" href="#">{{ m.author }}</a>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section id="anthologies">
  <h1>A Special Mix...</h1>
  <div class="anthology">
    <ul>
      <li class="bigger" style="background: url('/static/img/coronabg.jpg')"></li>
    </ul>
    <a class="link-cover" href="/summer4ever/"></a>
    <div class="content">
      <div class="post-meta">
        <h1>Corona Presents: Summer 4 Ever</h1>
        <h2 style="z-index: 1;">A Random Collection of Summer MixXxes</h2>
      </div>
    </div>
  </div>

</section>
{% endblock %}