{% extends "layout.html" %}
{% block body %}
  <h2 class="title">All Mixturs</h2>
  <div class="mixes">
    {% for m in mixes %}
    <div class="mix">
      {% if m.cover %}
      <a href="{{ url_for('mix', mix_type='m', mix_slug=m.slug) }}" class="cover" style="background-image:url('{{url_for('uploaded_file', user=m.user, mix=m.slug, filename=m.cover) }}');"></a>
      {% else %}
      <a href="{{ url_for('mix', mix_type='m', mix_slug=m.slug) }}" class="cover" style="background-image:url('/static/img/no_cover.jpg');"></a>
      {% endif %}
    </div>
    {% else %}
    <em>Unbelievable. No mixXxes here yet... bummah!</em>
    {% endfor %}
  </div>

  <h2 class="title">All Anthologies</h2>
  <div class="mixes">  
    {% for a in anthologies %}
    <div class="mix">
      <a href="{{ url_for('mix', mix_type='a', mix_slug=a.slug) }}" class="cover" style="background-image:url('{{url_for('uploaded_file', user=a.user, mix=a.mix_slug, filename=a.cover) }}');"></a>
    </div>
    {% else %}
    <em>Unbelievable. No anthologies here yet... bummah!</em>
    {% endfor %}
  </div>
{% endblock %}