<!doctype html>
<head>
  <title>{% block head_title %}Get yr mix on!{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="notify {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  <header>
    <h1><a href="{{ url_for('home') }}"><i title="Go home" class="fa fa-music"></i> mixtur</a></h1>
    <nav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Sign in</a>
    {% else %}
      <a href="{{ url_for('uploadr') }}">Upload</a>
      <a href="{{ url_for('logout') }}">{{ g.user }}</a>
    {% endif %}
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2059022-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% block js %}{% endblock %}
</body>