<!doctype html>
<head>
  <title>{% block head_title %}Get yr mix on!{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="notify {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  <header style="color:{{ header_col }};">
    <h1><a href="{{ url_for('home') }}"><i title="Go home" class="fa fa-music"></i> mixtur</a></h1>
    <nav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Sign in</a>
    {% else %}
      <a href="#" id="create">Create</a>
      <ul id="create_drop" class="subnav">
        <li><a href="{{ url_for('create_mix') }}">Mix</a></li>
        <li><a href="{{ url_for('create_anthology') }}">Anthology</a></li>
      </ul>
      <a title="Log out" href="{{ url_for('logout') }}">{{ g.user }}</a>
    {% endif %}
    </nav>
  </header>
  
  {% block body %}{% endblock %}
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2059022-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
    
  <script type="text/javascript">
    document.getElementById("create").addEventListener("click", function(e) {
      var drop = document.getElementById("create_drop");
      if(drop.style.display == 'block') {
        drop.style.display = 'none';
      }
      else {
        drop.style.display = 'block';
      }
      e.stopPropagation();
      e.preventDefault();
    });
    document.addEventListener("click", function(e) {
      document.getElementById("create_drop").style.display = 'none';
    });
  </script>
  
  {% block js %}{% endblock %}
</body>