{% extends "layout.html" %}
{% block body %}
  <h2 class="title">Login</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
    <h3>Login (email):</h3>
    <div class="input_cont">
      <input type="text" name="username" autofocus />
    </div>
    <h3>Password:</h3>
    <div class="input_cont">
      <input type="password" name="password" />
    </div>
    <input type="submit" value="Login" />
    <!-- <button>Login</button> -->
  </form>
{% endblock %}